<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>Book - CRUD Example</title>
</head>
<body>
        <app-root></app-root>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>
